.button {
  &__ok {
    background-color: #2b55e6;

    &:hover {
      background-color: #e8eefc;
      border-color: #e8eefc;
      color: #2b55e6;
    }
  }
  &__primary {
    color: rgb(42, 42, 44) !important;
    background-color: rgb(255, 255, 255);
    font-family: Circe-Bold, sans-serif;
    font-size: 1rem;
    height: 2.5rem;
    cursor: pointer;
    padding: 0.5rem 0.642857rem;
    border-radius: 0.357143rem;
    border-color: rgba(42, 42, 44, 0.25) !important;
    transition: color 0.5s ease 0s, background-color 0.5s ease 0s, transform 0.5s ease 0s;
    margin: 0.178571rem 0.357143rem;

    &:hover {
      background-color: rgb(255, 255, 255);
      transform: scale(1.05, 1.05);
    }

    &.active {
      background-color: rgb(116, 106, 143);
      border-color: transparent;
      color: rgb(255, 255, 255) !important;

      &:hover {
        background-color: rgb(116, 106, 143);
        transform: scale(1.05, 1.05);
      }
    }
  }
  &__reset {
    border: none;
    background-color: transparent;
  }
}
