@keyframes dash {
  0% {
    stroke-dashoffset: -26;
    stroke-dasharray: 10, 120;
  }
  10% {
    stroke-dashoffset: -26;
    stroke-dasharray: 10, 120;
  }
  50% {
    stroke-dasharray: 30, 120;
    stroke-dashoffset: -16.5;
    stroke: lighten(#2b55e6, 0.2);
  }
  90% {
    stroke-dashoffset: -26;
    stroke-dasharray: 10, 120;
  }
  100% {
    stroke-dashoffset: -26;
    stroke-dasharray: 10, 120;
  }
}

@keyframes rotate {
  0% {
    transform: rotate(180deg);
  }
  10% {
    transform: rotate(180deg);
  }
  90% {
    transform: rotate(540deg);
  }
  100% {
    transform: rotate(540deg);
  }
}

.spin {
  animation: rotate 1.5s ease-in-out infinite;

  &-circle {
    stroke: #2b55e6;
    stroke-width: 5;
    stroke-linecap: round;
    animation: dash 1.5s ease-in-out infinite;

    &-background {
      stroke: #e6e6e6;
      stroke-width: 5;
      stroke-linecap: round;
    }
  }

  &-container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);

    &-wrap {
      position: absolute;
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;
    }
  }
}

.icon-wrap {
  position: absolute;
  font-size: 1.71rem;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
}
