.admin {
  &-wrap {
    padding-right: 1.4285rem;
  }

  &-layout {
    height: 100vh;
    padding-bottom: 1.4285rem;
  }

  &-sidebar {
    background-color: #f2f3f6;
  }

  &-btn {
    &-link {
      text-align: center;
      margin: 0.9285rem 3.3571rem 0.6428rem 1.5714rem;
      color: #2b55e6;
      font-weight: bold;
      background-color: #fff;
      border: solid 0.0714rem rgba(129, 132, 144, 0.35);
      border-radius: 0.4285rem;
      padding: 0.5714rem;

      &:hover {
        background-color: #2b55e6;
        cursor: pointer;
        color: #fff;
      }
    }
  }

  &-menu {
    &.ant-menu {
      height: 100%;
      border-right: 0;
      background: #f2f3f6;
      padding-right: 1.5714rem;
    }

    &.ant-menu:not(.ant-menu-horizontal) .ant-menu-item-selected {
      background-color: #2b55e6;
      color: #fff;
      border-top-right-radius: 0.4285rem;
      border-bottom-right-radius: 0.4285rem;

      &::after {
        transform: scaleY(0);
      }
    }

    .ant-menu-item:not(.ant-menu-item-selected) {
      a:hover,
      &:hover {
        color: #2b55e6;
      }
    }
  }

  &-header {
    color: #2b55e6;
    font-weight: bold;

    &.ant-layout-header {
      background: #f2f3f6;
      text-align: right;
    }
  }

  &-mapping {
    &-button {
      color: #2b55e6 !important;
      font-weight: bold;

      &.ant-btn:hover,
      .ant-btn:focus {
        color: #fff !important;
        background-color: #2b55e6;
      }
    }

    &-table {
      background: rgba(255, 255, 255, 0.1);
      height: 100%;
      overflow: auto;

      .ant-table-column-title {
        font-weight: bold;
      }

      .ant-spin-nested-loading,
      .ant-table-content {
        height: 100%;
      }

      .ant-spin-container,
      .ant-table-scroll {
        height: 100%;
        display: flex;
        flex-direction: column;
        overflow: unset;
      }

      .ant-table-small > .ant-table-content > .ant-table-scroll > .ant-table-header > table > .ant-table-thead > tr > th {
        height: 4.2857rem;
      }

      .ant-table-header {
        flex-shrink: 0;
      }

      .ant-table-body {
        height: 100%;
      }

      .ant-table {
        /* border-color: #98bf21; */
        border-color: rgba(129, 132, 144, 0.35);
        overflow: hidden;

        .ant-table-tbody > tr:nth-child(even) {
          background-color: #e6f7ff;
        }
        .ant-table-content > .ant-table-body {
          margin: 0;
        }
        table {
          table-layout: fixed;
        }
      }

      .ant-pagination-item,
      .ant-pagination-item:hover,
      .ant-pagination-item:focus {
        a {
          color: rgba(0, 0, 0, 0.45);
        }
      }

      .ant-pagination-item-active,
      .ant-pagination-item-active:hover,
      .ant-pagination-item-active:focus {
        border-color: rgba(129, 132, 144, 0.35);
        background-color: #2b55e6;
        a {
          color: #fff;
        }
      }

      .ant-pagination-jump-next:hover .ant-pagination-item-ellipsis {
        opacity: 1;
      }

      .ant-pagination-next:hover .ant-pagination-item-link,
      .ant-pagination-prev:hover .ant-pagination-item-link {
        color: rgba(0, 0, 0, 0.65);
      }

      .ant-checkbox-wrapper {
        margin-left: 1rem;
      }

      .ant-checkbox-checked .ant-checkbox-inner {
        background-color: rgba(43, 85, 230, 0.8);
        border-color: rgba(43, 85, 230, 0.8);
      }

      .ant-table-pagination.ant-pagination {
        display: flex;
        justify-content: flex-end;
        float: unset;
        flex-grow: 1;
        align-items: flex-end;
      }

      .ant-table-bordered {
        .ant-table-tbody > tr > td,
        .ant-table-thead > tr > th {
          border-color: rgba(129, 132, 144, 0.35);
        }
      }

      .ant-table-small > .ant-table-content > .ant-table-scroll > .ant-table-body > table > .ant-table-tbody > tr > td {
        padding: 0.1428rem 0.5714rem;
      }

      .ant-table-thead {
        background-color: #2b55e6;
        color: #fff;
      }

      .ant-table-thead > tr {
        th,
        .ant-table-column-has-actions.ant-table-column-has-sorters:hover,
        th.ant-table-column-has-actions.ant-table-column-has-filters {
          color: #fff;
          .ant-table-filter-selected.anticon-filter,
          .ant-table-filter-selected.anticon-filter:hover {
            color: #e8eefc;
          }
          .anticon-filter,
          .anticon-filter:hover,
          .ant-table-column-sorter .ant-table-column-sorter-inner,
          .anticon-filter.ant-table-filter-open {
            color: rgba(0, 0, 0, 0.45);
            background-color: inherit;
          }
        }
      }
    }

    &-select {
      width: 100%;
    }

    &-confirm {
      margin: 0 0.2142rem;
    }
  }

  &-filter {
    &-container {
      display: flex;
      padding: 0.5714rem;
      border-radius: 0.4285rem;
      background: #fff;
      box-shadow: 0 0.0714rem 0.4285rem rgba(0, 0, 0, 0.2);
    }
  }
}
