.login {
  &-container {
    width: 100%;
    height: 100%;
    object-fit: contain;

    &-wrap {
      background-image: url(../../static/login/login-background.jpg);
      background-position: center center;
      background-repeat: no-repeat;
      background-size: cover;
    }
  }

  &-form {
    position: relative;
    width: 18.57rem;
    box-shadow: 0 0.178rem 0.892rem 0 rgba(0, 0, 0, 0.25);
    border: solid 0.0357rem #bac5cc;
    background-color: #ffffff;
    padding-bottom: 3.2142rem;

    &-container {
      font-family: Tahoma, Geneva, sans-serif;
      display: flex;
      height: 100vh;
      align-items: center;
      justify-content: center;
      text-align: center;
      overflow: auto;

      transition: transform 0.1s;
    }

    &__login {
      min-height: 30.7142rem;
      width: 21.4286rem;
      padding-bottom: 0;

      input {
        height: 2.85714rem !important;;
      }
      .login-input__left {
        border-radius: 4px;

        &.ant-input-affix-wrapper {
          padding: 0;

          input {
            padding-left: 1.42857rem !important;
          }

          .ant-input-suffix {
            position: absolute;
            top: 50%;
            z-index: 2;
            display: flex;
            align-items: center;
            right: 12px;
            line-height: 0;
            transform: translateY(-50%);
          }
        }
      }

      .ant-form-item-control-input {
        min-height: auto !important
      }

      #login {
        margin-top: 5.357rem;
        padding-left: 1.4285rem;
      }

      #password {
        padding-left: 1.4285rem;
      }

      .ant-input {
        border: solid 0.07142rem #dee2e8;
      }

      .ant-form-item {
        margin-bottom: 1.4285rem;
      }

      .ant-btn {
        background-color: rgb(116, 106, 143);
        font-family: Oswald-Medium, sans-serif;
        font-size: 0.928571rem;
        font-weight: normal;
        font-style: normal;
        font-stretch: normal;
        text-align: center;
        color: rgb(255, 255, 255);
        line-height: 1.43;

        &:hover,
        &:focus {
          border: solid 0.3333rem #ffffff;
          background-color: #8f86a6;
          color: #ffffff;
        }
      }

      .ant-input-suffix {
        color: #818490 !important;
        opacity: 0.5;
      }
    }

    input {
      text-align: center;
    }

    .ant-input-affix-wrapper .ant-input:not(:last-child) {
      padding: 0;
    }

    .ant-form-item {
      margin-bottom: 0.71rem;
    }

    .ant-form-explain {
      line-height: 1;
    }

    .ant-btn {
      background-color: rgb(116, 106, 143);
      font-family: Oswald-Medium, sans-serif;
      font-size: 0.928571rem;
      font-weight: normal;
      font-style: normal;
      font-stretch: normal;
      text-align: center;
      color: rgb(255, 255, 255);
      line-height: 1.43;
      border: 1px solid transparent;
      box-shadow: 0 2px 0 rgba(0, 0, 0, 0.015);
      cursor: pointer;
      border-radius: 4px;

      &:hover {
        border: solid 0.035rem #ffffff;background-color: rgb(143, 134, 166);
        color: #ffffff;
      }
    }

    &-button {
      width: 14.2857rem;
      text-transform: uppercase;
      text-align: center;

      &__login {
        width: 12.8928rem;
        text-transform: uppercase;
        text-align: center;
        color: #FFFFFF;
        background-color: #746a8f;

        &:hover {
          background-color: lighten(#746a8f, 0.1);;
          transform: scale(1.05, 1.05);
        }
      }
    }

    &-support {
      width: 100%;
      height: 2.1428rem;
      border-top: solid 0.03571rem #bac5cc;
      background-color: #ffffff;

      &__login {
        width: 100%;
      }
    }
  }

  &-logo {
    text-align: center;
    width: 3.57143rem;
    height: 4.28571rem;
    object-fit: contain;
    margin: -1.07rem auto 0;
    background-image: url(../../static/login/login-logo.png);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;

    &__login {
      margin-top: 3.57143rem;
      margin-left: 5.21429rem;
      text-align: center;
    }

    &-wrap {
      position: absolute;
      width: 100%;
    }
  }

  &-title {
    height: 1.8571rem;
    text-transform: uppercase;
    width: 100%;
    font-family: Roboto, sans-serif;
    font-size: 0.7142rem;
    font-weight: 300;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.3;
    letter-spacing: normal;
    text-align: center;
    color: #504d4b;
    margin: 3.4285rem 0 0.7857rem 0;

    &__container {
      position: relative;
      left: 10.1428rem;
      top: 3.5714rem;
    }

    &__text {
      text-align: left;
      color: #2a2a2c;
      font-family: Oswald-Medium, sans-serif;
      font-size: 1.28571rem;
      font-weight: 500;
      font-style: normal;
      font-stretch: normal;
      line-height: 1.2;
    }
  }

  &-input {
    max-width: 14.2857rem;
    text-align: center;

    &__left {
      text-align: left !important;

      input {
        text-align: left;
      }
    }
  }

  &-footer-text {
    width: 100%;
    height: 100%;
    font-family: Roboto, sans-serif;
    font-size: 0.6428rem;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: center;
    color: #504d4b;
    margin-top: 0.6428rem;

    &__login {
      margin-top: 2.8571rem;
      margin-bottom: 1.4285rem;
      top: 26.9285rem;
      line-height: 1.67;
      opacity: 0.8;
      font-family: OpenSans, sans-serif;
      font-size: 0.8571rem;
      font-weight: 600;
      a {
        color: #746a8f;
        text-decoration: underline;
        &:hover {
          color: darken(#746a8f, 0.2);
          text-decoration: underline;
        }
      }
    }
  }

  &-eye {
    cursor: pointer;
  }

  &-errors {
    margin-bottom: 2.1428rem;
  }
}
