.parks-map {
  margin-bottom: 20px;
  height: 90vh;
  width: 100%;
  position: relative;

  .ol-zoom {
    left: unset;
    right: 0.5em;
    top: unset;
    bottom: 0.5em;
    display: flex;
  }

  .ant-spin {
    top: 0;
    left: 0;
    position: absolute;
    z-index: 1;
    background: rgba(255, 255, 255, 0.46);
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
