.cell {
  &-td {
    word-break: break-word;

    & .ant-btn {
      padding-left: 0.1428rem !important;
      padding-right: 0.1428rem !important;
    }

    & .ant-calendar-picker {
      width: auto !important;
      min-width: 2.1428rem !important;
      max-width: 80% !important;
    }

    & .ant-form-item-control {
      line-height: 1.4285rem !important;
    }
  }

  &-container {
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  &-form-item {
    &.ant-form-item {
      margin: 0;
      padding: 0;
    }
    width: 100%;
  }

  &-value {
    padding: 0;
    min-height: 2.2857rem;
    display: flex;
    align-items: center;
    word-break: break-word;
  }
}
