@import "~antd/dist/antd.less";
@primary-color: #e8eefc;
@avatar-size-sm: 16px;
@avatar-size-base: 24px;
@tooltip-color: #000;
@tooltip-bg: rgba(255, 255, 255, 1);
@collapse-header-padding: 0;
@collapse-content-padding: 0;;
