// LIGHT THEME
html {
  --bg: #fff;
  --text: #5a5a5a;
  --headerText: #5a5a5a;
  --headerColor: #3f7abf;
  --paginationColor: #333;
  --paginationColorDisabled: #999;
  --paginationActiveColor: #ecf2fa;
  --iconColor: #818e9b;
  --headerIconColor: #fff;
  --modalBackground: #fff;
  --modalText: #818e9b;
  --modalSubHeader: #000;
  --tableHeader: #909090;
  --checkboxColor: #3f7abf;
  --drawItemColor: #eef6e9;
  --filtersHeader: #000;
  --tableRowGreen: #f2ffeb;
  --tableRowYellow: #fff9dc;
  --tableRowRed: #ffe9ea;
  --tableRowGray: #efefef;
  --blue: #3f7abf;
  --white: #fff;
  --green: #58a621;
  --grey: #747474;
  --light-grey: #818e9b;
  --red: #f26161;
  --contentColor: #fff;
  --dateRangeBg: #f7f7f7;
  font-size: 12.6px;
}
// DARK THEME
html[theme="dark"] {
  --bg: #2c5586;
  --text: #fff;
  --headerText: #fff;
  --headerColor: #2c5586;
  --paginationColor: #6c757e;
  --paginationColorDisabled: #6c757e8f;
  --paginationActiveColor: #707070;
  --modalBackground: #000;
  --modalText: #fff;
  --modalSubHeader: #818e9b;
  --tableHeader: #909090;
  --tableHeaderColor: #222222;
  --iconColor: #fff;
  --headerIconColor: #fff;
  --checkboxColor: #3f7abf;
  --drawItemColor: #abd390;
  --filtersHeader: #fff;
  --tableRowGreen: #254200;
  --tableRowYellow: #453f07;
  --tableRowRed: #370e0e;
  --tableRowGray: #555;
  --blue: #3f7abf;
  --white: #333333;
  --green: #58a621;
  --grey: #747474;
  --light-grey: #818e9b;
  --red: #f26161;
  --contentColor: #000;
  --dateRangeBg: #f7f7f7;
}

// COLORS
$blue: var(--blue);
$text: var(--text);
$headerText: var(--headerText);
$headerIconColor: var(--headerIconColor);
$iconColor: var(--iconColor);
$headerColor: var(--headerColor);
$paginationColor: var(--paginationColor);
$paginationColorDisabled: var(--paginationColorDisabled);
$paginationActiveColor: var(--paginationActiveColor);
$modalBackground: var(--modalBackground);
$modalText: var(--modalText);
$modalSubHeader: var(--modalSubHeader);
$tableHeader: var(--tableHeader);
$tableHeaderColor: var(--tableHeaderColor);
$checkboxColor: var(--checkboxColor);
$drawItemColor: var(--drawItemColor);
$filtersHeader: var(--filtersHeader);
$tableRowGreen: var(--tableRowGreen);
$tableRowYellow: var(--tableRowYellow);
$tableRowRed: var(--tableRowRed);
$tableRowGray: var(--tableRowGray);
$bg: var(--bg);
$white: var(--white);
$green: var(--green);
$light-green: #eef6e9;
$light-green2: #abd390;
$grey: var(--grey);
$light-grey: var(--light-grey);
$red: var(--red);
$contentColor: var(--contentColor);
$dateRangeBg: var(--dateRangeBg);
$color-low: #58a621;
$color-middle: #f2994a;
$color-critical: #f26161;
$color-border: #eee;
// BORDERS
$radius3: 3px;
$radius5: 5px;

body {
  background-color: $contentColor !important;
}

// =============== КЛАССЫ ДЛЯ ЦВЕТ ТЕКСТА ============ //
.radius3 {
  border-radius: $radius3;
}

.radius5 {
  border-radius: $radius5;
}

// =============== КЛАССЫ ДЛЯ ЦВЕТ ТЕКСТА ============ //
.color-blue {
  color: $blue;
}

.color-text {
  color: $text;
}

.color-grey {
  color: $grey;
}

.color-red {
  color: $red;
}

.color-light-grey {
  color: $light-grey;
}

.color-white {
  color: $white;
}

// =============== КЛАССЫ ДЛЯ ЦВЕТ ФОНА ============ //
.bg-green {
  background-color: $green;
}

.bg-blue {
  background-color: $blue;
}

.bg-red {
  background-color: $red;
}
