.header {
  padding: 24px;
  position: sticky;
  top: 0;
  z-index: 10;
  box-shadow: rgba(42, 42, 44, 0.25) 0 0.357143rem 0.357143rem 0;
  font-family: Circe-Bold, sans-serif;
  border-bottom: 0.0714286rem solid rgba(42, 42, 44, 0.25);

  &-theme-checkbox {
    cursor: pointer;
    position: relative;
    width: 3.5rem;
    height: 1.75rem;
    border-radius: 0.875rem;
    background-color: #BFBFBF;
    transition: background-color 0.25s ease-in-out, opacity 0.25s ease-in-out;


    &::after {
      content: " ";
      width: 1.55rem;
      height: 1.55rem;
      position: absolute;
      border-radius: 0.775rem;
      box-shadow: 0 0.1428rem 0.2857rem 0 rgba(0, 35, 11, 0.2);
      background: url(../../static/header/light-theme-sun.png) #fff no-repeat center;
      transform: translate(0);
      transition: transform 0.25s ease-in-out;
      top: 0.1rem;
      left: 0.2rem;
    }

    &.checked {
      background-color: #736a8f;
      transform: translate(100%);
    }
  }

  &-row {
    display: flex;
    align-items: center;

    &__wrap {
      flex-wrap: wrap;
      padding: 0.357143rem 0.714286rem;
      border-bottom: 0.0714286rem solid rgba(42, 42, 44, 0.25);
    }
  }

  &-navlink {
    &.active {
      .button__primary {
        background-color: rgb(116, 106, 143);
        border-color: transparent;
        color: rgb(255, 255, 255) !important;
      }
    }
  }
  &-tag {
    color: rgb(255, 255, 255);
    background-color: rgb(170, 175, 185);
    font-family: Circe-Bold, sans-serif;
    font-size: 1rem;
    height: 2.5rem;
    cursor: pointer;
    padding: 0.5rem 0.642857rem;
    border-radius: 0.357143rem;
    border-color: rgba(42, 42, 44, 0.25);
    transition: color 0.5s ease 0s, background-color 0.5s ease 0s, transform 0.5s ease 0s;
  }
}
